<form action="/scaffold/<%= modelControllerName %>/create" method="POST" role="form" class="new" style="margin:10px auto">
	<div class="form-group">
	<h2>Create a <%= modelControllerName %></h2>

<%= compiledNewFlash %>
	<%= compiledNewFormFields %>
	</div>
	<input type="submit" value="Submit" class="btn btn-default"/> | 
	<a href="/scaffold/<%= modelControllerName %>">Back to list</a>
</form>